[data-theme="dark"] {
  background-color: #777 !important;
  color: #eee;
}

[data-theme="dark"] .bg-light {
  background-color: #444 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #222 !important;
}

[data-theme="dark"] .bg-dark {
  background-color: #eee !important;
}

[data-theme="dark"] .text-muted {
  color: #eee !important;
}