body {
  font-family: 'Fira Sans';
  font-weight: 300;
  font-size: large;
  background-color: #fdfdfc;
  border: 0;
  margin: 0;
  overflow: hidden;
  }

p {
  font-family: 'Fira Sans';
  font-weight: 300;
  font-size: large;
  background: none transparent;}

td {
vertical-align: top;
text-align: left;
}
#chart {
        /* display: block; */
        position: relative;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
}

#ssdeepinfo, #ssdeephash, h1, input, select, textarea, a {
font-family: 'Fira Mono'; font-size: large;
}
fieldset, textarea, input, select {
border: solid 1px #999;
background-color:#f9f9f9;
}

#searchform {
background: none transparent;
position: fixed;
top: 0;
left:0;
z-index: 1;
}
legend {
background: none #fdfdfc;
}

form {
padding-top: 1vh;
display:block;
}

input {
width: 50vw;
}

#graph {
  z-index: 0;
  display: inline-block;
  width:  100vw;
  height: 90vh;
  border: 0;
  margin: 0;
  top: 0;
  background: none transparent;
}


#info0 {
  z-index: 1;
  display: inline-block;
  width: 50%;
  font-size: smaller;
  line-height: 1.2;
  height: 10em;
  border: solid 1px #999;
  background-color: #f9f9f9;
  position: fixed;
  bottom: 0;
  left: 1px;
  padding: 0;
  margin: 0;
  padding: 2px;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

#info1 {
  z-index: 1;
  display: inline-block;
  width: 50%;
  font-size: smaller;
  line-height: 1.2;
  height: 10em;
  border: solid 1px #999;
  background-color: #f9f9f9;
  position: fixed;
  bottom: 0;
  right: 1px;
  padding: 2px;
  margin: 0;
  opacity: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

