body {margin: auto; width: 90vw; line-heigth: 150%; font-size: 0.1vw; text-align: justify;}
h1,h2,h3,h4 {text-align: left;}
sup, sub {font-size: 60%;}
.code {text-align: left;}
code, pre {font-size: 65%;}


