[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
# redis = "<=3.3.11"
redis = "2.10.4"
# redis
bottle-redis = "0.12.18"
#bottle-redis
bottle = "*"
ssdeep = "*"
cd = "*"

[requires]
python_version = "3.8"
