<html>
    <head>
        <meta http-equiv="refresh" content="0;URL=kathe/" />
        <style>
            object {display: block; width: 60%; height: 50vh; border: 0; overflow: hidden; margin: auto; margin-top: 10vh;}
        </style>
        <link rel="stylesheet" href="/static/fira.css">
        <link rel="stylesheet" href="/static/kathe.css">
    </head>
    <body>
        <!--[if IE]>
            <object classid="clsid:25336920-03F9-11CF-8FD0-00AA00686F13" data="static/katherine.html">
            </object>
            <![endif]-->
            
            <!--[if !IE]> <-->
            <object type="text/html" data="static/katherine.html">
            </object>
            <!-- <![endif]-->
    </body>
</html>