<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/fira.css">
    <link rel="stylesheet" href="/static/kathe.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">  
    <link rel="stylesheet" href="/static/dark-mode.css">
  </head>

  <body>
    <!-- primary container -->
    <div class="container-flex h-100">


      <div class="navbar bg-light">

          <form action="/kathe/" method="get" class="form-inline col-md-5">
              <input type="text" class="form-control col-sm-6" name="search" id="search" value="{{querystring}}"
                placeholder="Please enter a ssdeep|sha256|context string" onBlur="this.value=searchparam" />
              <label class="text-muted col-sm-6"> | 
                <span id="httpcode" data-toggle="tooltip" data-placement="top"title="HTTP response code">
                  ___
                </span> 
                |
                <span id="setinfo"></span>
                </label>
          </form>

          <form action="/kathe/?" method="GET" class="form-inline col-md-5" id="contextform">
            <label for="contextform" class="text-muted col-sm-6">Contexts in this graph:</label>
            <select name="search" id="contextselect" class="form-control col-sm-6" form="contextform"
              onclick='this.form.submit()'>
              <option value="" disabled selected>Select a context</option>
              <!-- XXX we'll build the context dropdown here -->
              <option>win.emotet</option>
              <option>win.dorshel</option>
              <option>win.isfb</option>
              <option>win.dreambot</option>
              <option>win.doesnotexist</option>
            </select>
          </form>

          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="darkSwitch">
            <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
          </div>

      </div>
    
      <div class="row h-100" >
        <div class="col-md-12 h-100" id="graphrow">
          <div id="graph" class="">
          </div>
        </div>
      </div>
      

      <!-- row search form and info -->
      <div class="row h-25">
        <!-- col search form and info -->
        <div class="col-md-4 h-100 overflow-auto">
          <div id="info0" class="text-muted">Left-click node for detailed info</div>
        </div>
        <div class="col-md-4 h-100 overflow-auto">
          <div id="info1" class="text-muted">Right-click node for detailed info</div>
        </div>
        <!-- end row search form and info -->
      </div>
    <!-- end container -->
    </div>

    <script>
      var urlParams = new URLSearchParams(window.location.search);
      var searchparam = urlParams.get('search');
    </script>
    <script>
      var searchvalue = decodeURIComponent("{{querystring2}}");
      var unescaped_searchvalue = "{{querystring2}}";
    </script>
    
    <!-- Load scripts -->
    <script src="/static/2d/force-graph.js"></script>
    <script src="/static/2d/kathe.js"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/dark-mode-switch.min.js"></script>
    
  </body>
</html>
