<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/fira.css">
    <link rel="stylesheet" href="/static/kathe.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">                                                                                                                                                                                                                                                                                            
  </head>

  <body>
    <!-- container -->
    <div class="container-flex h-100">
      <!-- row search form and info -->
      <div class="row bg-dark h-25">
        <!-- col search form and info -->
        <div class="col-md-4 h-100 overflow-hidden">
          <div class="form-group p-4">
            <form action="/kathe/" method="get">
              <fieldset>
                <label class="text-muted">| <span id="httpcode" data-toggle="tooltip" data-placement="top"
                    title="HTTP response code">___</span> |<span id="setinfo"></span><span></label>
                <input type="text" class="form-control bg-secondary text-white" name="search" id="search" value="{{querystring}}"
                  placeholder="Please enter a ssdeep|sha256|context string" onBlur="this.value=searchparam" />
              </fieldset>
            </form>
          
          </div>
          <!-- end card search form -->
          <div class="form-group pl-4 pr-4">
            <form action="/kathe/?" method="GET" id="contextform">
            </form>
            <label for="contextform" class="text-muted">Contexts in this graph</label>
            <select name="search" id="contextselect" class="form-control bg-secondary text-white" form="contextform" onclick='this.form.submit()'>
              <option value="" disabled selected>Select a context</option>
              <!-- XXX we'll build the context dropdown here -->
              <option>win.emotet</option>
              <option>win.dorshel</option>
              <option>win.isfb</option>
              <option>win.dreambot</option>
              <option>win.doesnotexist</option>
            </select>
          </div>
        </div>
          <div class="col-md-4 h-100 p-1 overflow-auto">
            <div id="info0" class="text-muted">Left-click node for detailed info</div>
          </div>
          <div class="col-md-4 h-100 p-1 overflow-auto">
            <div id="info1" class="text-muted">Right-click node for detailed info</div>
          </div>
        <!-- end row search form and info -->
      </div>

      <div class="row h-75 bg-dark" >
        <div class="col-md-12 h-100 bg-dark" id="graphrow">
          <div id="graph" class="bg-dark">
          </div>
        </div>
      </div>
      <!-- end container -->
    </div>
    
    <script src="/static/2d/force-graph.js"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    
    <script>
      var urlParams = new URLSearchParams(window.location.search);
      var searchparam = urlParams.get('search');
    </script>
    <script>
      var searchvalue = decodeURIComponent("{{querystring2}}");
      var unescaped_searchvalue = "{{querystring2}}";
    </script>

    <script src="/static/2d/kathe.js"></script>
  </body>
</html>
