<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/fira.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/kathe.css">
    <link rel="stylesheet" href="/static/dark-mode.css">
  </head>

  <body>
    <!-- primary container -->
    <div class="container-flex h-100">


      <div class="navbar bg-light">

          <form action="/kathe/" method="get" class="form-inline col-md-6">
              <input type="text" class="form-control col-sm-6" name="search" id="search" value="{{querystring}}"
                placeholder="Please enter a ssdeep|sha256|context string" onBlur="this.value=searchparam" />
              <label class="text-muted col-sm-6"> | 
                <span id="httpcode" data-toggle="tooltip" data-placement="top" title="">
                </span>
                |
                <span id="setinfo"></span>
                </label>
          </form>


          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="darkSwitch">
            <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
          </div>

      </div>

      <div class="row h-75" >
        <div class="col-md-10" id="graphcol">
          <div id="graph" class="">
          </div>
        </div>
        <div class="col-md-2 overflow-y" id="listcol">
          <ul id="contextlist">
          </ul>
        </div>
      </div>


    <!-- end container -->


    <footer class="h-25 bg-light">
      <!-- row search form and info -->
      <div class="row mx-5 h-100">
        <!-- col search form and info -->
        <div class="col-md-6">
          <div id="info0" class="text-muted overflow-auto">Left-click node for detailed info</div>
        </div>
        <div class="col-md-6">
          <div id="info1" class="text-muted overflow-auto">Right-click node for detailed info</div>
        </div>
        <!-- end row search form and info -->
      </div>
      </footer>

    </div>

    <script>
      var urlParams = new URLSearchParams(window.location.search);
      var searchparam = urlParams.get('search');
    </script>
    <script>
      var searchvalue = decodeURIComponent("{{querystring2}}");
      var unescaped_searchvalue = "{{querystring2}}";
    </script>

    <!-- Load scripts -->
    <script src="/static/3d/force-graph.js"></script>
    <script src="/static/3d/kathe.js"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/dark-mode-switch.min.js"></script>

  </body>
</html>
